@model DugunDaveti.Models.WeddingInvent
@{

}
<!-- start page-wrapper -->
<div class="page-wrapper">

    <!-- start preloader -->
    

    <!-- end preloader -->
    
    <section class="rsvp-section section-padding parallax" style="background-image: url(/images/rsvp-bg.jpeg)" data-speed="7" id="rsvp">
        <div class="container">
            <div class="row">
                <div class="col col-xs-12">
                    <div class="section-title-white">
                        <div class="vertical-line"><span><i class="fi flaticon-two"></i></span></div>
                        <h2>Düğünümüze Katıl</h2>
                    </div>
                </div>
            </div> <!-- end section-title -->
            
            <div class="row content event_form">
                <div class="col col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">


                    @if (Model != null)
                    {
                        @if (Model.isAttend == true)
                        {
                            @Html.Raw("<p>Katıldığınız için teşekkürler :D</p>");


                        }
                        else
                        {

                            @Html.Raw("<p>ikinciye artık :D</p>");

                        }

                    }
                    else
                    {
                        @Html.Raw("<p>Lütfen 20 mayıs 2022'den önce rezerve edin</p>");

                    }


                    <form id="rsvp-form" class="form validate-rsvp-form row" method="post">
                        <div class="col col-sm-6">
                            <input asp-for="name" name="name" class="form-control" placeholder="Adınız*">
                            <span asp-validation-for="name" class="text-danger"></span>
                        </div>
                        <div class="col col-sm-6">
                            <input asp-for="surname" class="form-control" placeholder="Aile Adınız*">
                            <span asp-validation-for="surname" class="text-danger"></span>
                        </div>
                        <div class="col col-sm-6">
                            <input asp-for="Mail" name="Mail" class="form-control" placeholder="E-posta Adresiniz*">
                            <span asp-validation-for="Mail" class="text-danger"></span>
                        </div>
                        <div class="col col-sm-6">
                            <input asp-for="TelNo" class="form-control" placeholder="Tel*">
                            <span asp-validation-for="TelNo" class="text-danger"></span>
                        </div>
                        <div class="col col-sm-12">
                            <select asp-for="isAttend" class="form-control attending_select" name="isAttend">
                                <option disabled selected>Düğüne katılabilecek misiniz?</option>
                                <option value="true" asp-for="isAttend" name="isAttend">Evet</option>
                                <option value="false" asp-for="isAttend" name="isAttend">Hayır</option>
                            </select>
                        </div>
                        <div class="col col-sm-12">
                            <textarea asp-for="message" name="message" placeholder="Lütfenmesaj belirtiniz" class="form-control"></textarea>
                            <span asp-validation-for="message" class="text-danger"></span>
                        </div>


                        <div class="col col-sm-12 submit-btn">
                            <button type="submit" class="submit">Rezerve Et</button>
                            <span id="loader"><i class="fa fa-refresh fa-spin fa-3x fa-fw"></i></span>
                        </div>
                        <div class="col col-md-12 success-error-message">
                            <div id="success">Listeye eklendiniz. Bu güzel günümüzde bizi yalnız bırakmadığınız için teşekkür ederiz.</div>
                            <div id="error"> Bir hata meydana geldi. Lütfen daha sonra tekrar deneyin. </div>
                        </div>
                    </form>
                </div>
            </div> <!-- end row -->
        </div> <!-- end container -->
    </section>
    <!-- end rsvp-section -->
