@model List<DugunDaveti.Models.WeddingInvent>
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<ul>
    @foreach (var item in Model)
    {
        <li>@item.name,@item.surname,@item.isAttend</li>

    }
</ul>

<p>Use this page to detail your site's privacy policy.</p>
